ion-content{
    --color:#fff;
}
ion-slides{
    --bullet-background:grey;
    --bullet-background-active:#FFF;
}
// https://youtu.be/UxHPPSxKoj4
// https://www.youtube.com/watch?v=621N2vjJ6Mo
// https://www.youtube.com/watch?v=A1orWORe618